{{> user_header this}}

<div id="single_trip" class="container">
	<div class="row">
		<div class="col-md-8">
			<span class="title">{{trip.title}}</span><span> @ {{trip.location}} &nbsp;   
				{{#each trip.tags}}
					<span class="glyphicon glyphicon-tag"></span> <a href="/tag/{{text}}">{{text}}</a>
				{{/each}}
			</span>
		</div>
		<div class="offset-col-md-11">
			{{#if isowner}}
				<a href="/trip/edit/{{trip._id}}"><button type=
					"button" class="btn btn-success">Edit Trip</button></a>
			{{/if}}
		</div>
	</div>
	<div id="trip_images" class="w-clearfix pictures">
		{{#if trip.image_large}}
			<a class="fancybox" rel="gallery" href="{{trip.image_large}}">
				<img class="album-preview_large" style="background-image: url({{trip.image_large}});"/>
			</a>
		{{/if}}
		{{#if trip.image_small}}
			{{#if trip.image_small.[0]}}
				<a class="fancybox" rel="gallery" href="{{trip.image_small.[0]}}">
					<img style="background-image: url({{trip.image_small.[0]}});" class="album-preview_small" />
				</a>
			{{/if}}
			{{#if trip.image_small.[1]}}
				<a class="fancybox" rel="gallery" href="{{trip.image_small.[1]}}">
					<img style="background-image: url({{trip.image_small.[1]}});" class="album-preview_small" />
				</a>
			{{/if}}
			{{#if trip.image_small.[2]}}
				<a class="fancybox" rel="gallery" href="{{trip.image_small.[2]}}">
					<img style="background-image: url({{trip.image_small.[2]}});" class="album-preview_small"  style="margin-bottom:0px;" />
				</a>
			{{/if}}
			{{#if trip.image_small.[3]}}
				<a class="fancybox" rel="gallery" href="{{trip.image_small.[3]}}">
					<img style="background-image: url({{trip.image_small.[3]}});" class="album-preview_small"  style="margin-bottom:0px;" />
				</a>
			{{/if}}
		{{/if}}
	</div>
	<div class="social_buttons_container">
			<img class="social_buttons like_icon" src="/images/icon_822.png" />&nbsp;
			<div id="popup_likes" title="Login to like">
				<p>You must be logged in to like trips.</p>
			</div>          			
		<span id="likes_counter">{{trip.num_likes}}</span>&nbsp;&nbsp;
			<img class="social_buttons favorite_icon" src="/images/better-pin.png" />&nbsp;
            <div id="popup_favorites" title="Login to pin">
            	<p>You must be logged in to pin trips.</p>
            </div>  			
		<span id="favorites_counter">{{trip.num_favorites}}</span>&nbsp;&nbsp;
		<img class="social_buttons" src="/images/comment.png" />&nbsp;
		<span id="comments_counter">{{trip.num_comments}}</span>&nbsp;&nbsp;
	</div>
	<div class="description_container">
		{{trip.description}}
	</div>
	<div class="comment_container" style="display: none">
		{{#each trip.comments}}
			{{> comment this}}
		{{/each}}
	</div>
	<div class="add_comment_container">
		<form id="add_comment_form" class="form-horizontal" method="post">
			<input type="hidden" name="trip_id" value="{{trip._id}}" />
			<div class="row">
				{{#if curuser}}
					<div class="col-sm-1" style="padding-right: 0px;">
						<img src="{{curuser.profile_image}}" class="prof_pic-small" />
					</div>
					<div class="col-sm-9" style="padding-right: 0px; padding-left: 0px;">
						<textarea id="add_comment_ta" name="text" class="form-control">Write a comment...</textarea>
					</div>
					<div class="col-sm-1" style="padding-left: 0px;">
						<button id="add_comment_button" type="submit" class="btn btn-primary">Comment</button>
					</div>
				{{else}}
					<div class="col-sm-9" style="padding-right: 0px; padding-left: 0px;">
						<textarea id="add_comment_ta" name="text" class="form-control" disabled>Login to write a comment...</textarea>
					</div>
				{{/if}}
			</div>
		</form>
	</div>
</div>



<script type="text/javascript">
$(document).ready(function() {
	$('.fancybox').fancybox();

	$('#add_comment_form').ajaxForm({
		url: '/add_comment',
		success: function(responseText, status, xhr, $form) {
			if (status == 'success') append_comment(responseText);
		},
		error: function(e) {
			console.log("error: " + e.responseText);
		}
	});

	function append_comment(comment) {
		$('#add_comment_ta').val('');
		$('.comment_container').show();
		var existing = $('.comment_container').html();
		var comment_box_html = '<div class="comment row">';
		if($('.comment').length > 0) {
			comment_box_html += '<hr style="margin-bottom: 2px; margin-top:2px;"/>';
		}
		comment_box_html += '<div class="col-md-1">';
		comment_box_html += '<img src="' + comment.user.profile_image + '" class="prof_pic-small" />';
		comment_box_html += '</div>';
		comment_box_html += '<div class="col-md-10">';
		comment_box_html += '<a href="user/' + comment.user._id + '">' + comment.user.username + '</a> ' + comment.text;
		comment_box_html += '<br />' + moment().fromNow();
		comment_box_html += '</div>';
		comment_box_html += '</div>';
		existing += comment_box_html;
		$('.comment_container').html(existing);

		var num_comments = parseInt($('#comments_counter').html(), 10);
		num_comments += 1;
		$('#comments_counter').html(num_comments);
	}

	$('#add_comment_ta').focus(function() {
		$(this).val('');
	});

	if($('.comment').length > 0) {
		$('.comment_container').show();
	}

	function incrementLikes() {
		var num_likes = parseInt($('#likes_counter').html(), 10);
		num_likes += 1;
		$('#likes_counter').html(num_likes);
	}

	$('.like_icon').click(function() {
		var data = {
			"tripID": "{{trip._id}}"
		};
		var options = {
			type: "POST",
			url: "/like_trip",
			data: data
		};
		$.ajax(options)
		.done(function(data) {
			console.log("success" + data);
			incrementLikes();
		})
		.fail(function(msg) {
			console.log("fail" + msg.responseText);
			if (msg.responseText == "must be logged in to like") {
	  			$('#popup_likes').dialog();			
			}
		});
	});

	function incrementFavorites(tripID) {
		var num_favorites = parseInt($('#favorites_counter').html(), 10);
		num_favorites += 1;
		$('#favorites_counter').html(num_favorites);
	}

	$('.favorite_icon').click(function() {
		var data = {
		  "tripID": "{{trip._id}}"
		};
		var options = {
		  type: "POST",
		  url: "/favorite_trip",
		  data: data
		};
		$.ajax(options)
		.done(function(data) {
		  incrementFavorites(data);
		})
		.fail(function(msg) {
		  console.log(msg.responseText);
          if (msg.responseText == "must be logged in to favorite") {
		 	$('#popup_favorites').dialog();		            
          }  	  
		});
	});  	
});
</script>