<div class="container" style="margin: 20px; margin-top: 100px;">
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<td style="width:40px">#</td>
				<td style="width:180px">Name</td>
				<td style="width:200px">Email</td>
				<td style="width:200px">Location</td>
				<td style="width:180px">Username</td>
				<td>Account Created</td>
				<td>Admin</td>
			</tr>
		</thead>
		{{#each users}}
			<tr>
				<td>{{@index}}</td>
				<td>{{name}}</td>
				<td>{{email}}</td>
				<td>{{country}}</td>
				<td>{{username}}</td>
				<td>{{date}}</td>
				<td>
					{{#if admin}}
						True
					{{else}}
						False
					{{/if}}
				</td>
			</tr>
		{{/each}}
	</table>
</div>