<table class="table table-hover table-condensed">
	<th>
		<tr>
			<td>ID</td>
			<td>User</td>
			<td>Title</td>
			<td>Date</td>
			<td>Location</td>
			<td>Description</td>
			<td>Large Image</td>
			<td>Small Images</td>
			<td>Tags</td>
			<td>Likes</td>
			<td>Favorites</td>
			<td>Comments</td>
		</tr>
	</th>
	{{#each trips}}
		<tr>
			<td><a href="trip/{{id}}">{{id}}</a></td>
			<td>{{user.username}}</td>
			<td>{{title}}</td>
			<td>{{date}}</td>
			<td>{{location}}</td>
			<td>{{description}}</td>
			<td>{{image_large}}</td>
			<td>
				{{#each image_small}}
					{{this}},
				{{/each}}
			</td>
			<td>
				{{#each tags}}
					{{this}},
				{{/each}}
			</td>
			<td>
				{{#each likes}}
					{{this}},
				{{/each}}
			</td>
			<td>
				{{#each favorites}}
					{{this}},
				{{/each}}
			</td>
			<td>
				{{#each comments}}
					{{this.text}},
				{{/each}}
			</td>
		</tr>
	{{/each}}
</table>