<table class="table table-hover table-condensed">
	<th>
		<tr>
			<td>ID</td>
			<td>User</td>
			<td>Title</td>
			<td>Date</td>
			<td>Location</td>
			<td>Description</td>
			<td>Image URLs</td>
			<td>tags</td>
			<td>Likes</td>
			<td>Favorites</td>
			<td>Comments</td>
		</tr>
	</th>
	{{#each trips}}
		<tr>
			<td>{{id}}</td>
			<td>{{user}}</td>
			<td>{{title}}</td>
			<td>{{date}}</td>
			<td>{{location}}</td>
			<td>{{description}}</td>
			<td>
				{{#images}}
					{{this}},
				{{/images}}
			</td>
			<td>
				{{#tags}}
					{{this}},
				{{/tags}}
			</td>
			<td>{{num_likes}}</td>
			<td>{{num_fav}}</td>
			<td>
				{{#comments}}
					{{this}},
				{{/comments}}
			</td>
		</tr>
	{{/each}}
</table>