<div class="w-container">
  <div class="margin-10">
      <div class="w-clearfix prof_box">
        <img class="prof_pic" src="{{user.profile_image}}" width="140" height="140" alt="prof-pic">
        <div class="prof_info">
          <h2>{{user.name}}</h2>
          <p class="about_me">{{user.aboutMe}}</p>
          <div class="social_bar">
            <img class="social_buttons" src="/images/icon_1832.png" alt="location-icon">
            <div class="location">{{user.country}}&nbsp;&nbsp;</div>
            {{!-- <img class="social_buttons" src="/images/facebook.png" alt="facebook-icon">
            <img class="social_buttons" src="/images/twitter.png" alt="twitter-icon"> --}}
          </div>
        </div>
        <div class="prof_stats" id="user_{{user._id}}">
          {{#if thatsMe}}
          {{else}}
          
            {{#if curuser}}
              {{#if curuser_following}}
                <p class="button all_follow_buttons">Following</p>
              {{else}}
                <p class="button all_follow_buttons follow_button" userID="{{user._id}}">Follow</p>
              {{/if}}
            {{/if}}
            
          {{/if}}
          <a class="button" href="/followers/{{user._id}}">{{user.followers.length}} Followers</a>
          <a class="button" href="/following/{{user._id}}">{{user.following.length}} Following</a>
          <a class="button" href="/user/{{user._id}}">All Trips ({{user.trips.length}})</a>
        </div>
      </div>
    </div>
</div>  