<div id="carousel_container">
	{{> carousel this}}
</div>

<div class="w-container">
{{!--     {{#each trips}}
 --}}    <div class="w-clearfix news-item">
        <img class="prof_pic-small float-left" src="images/blank-profile.jpg" alt="prof-pic">
        <div class="float-left">
            <h5 class="status"><strong>{{!-- {{user}} --}}</strong> added a new album.</h5>
            <div class="w-clearfix pictures">        
                <img class="album-preview_large" src="{{!-- {{images.[0]}} --}}" alt="album-preview_large">
               {{!--  {{#if images.[1]}} --}}
                <img class="album-preview_small" src="{{!-- {{images.[1]}} --}}" alt="album-preview-small">
                {{!-- {{/if}}
                {{#if images.[2]}} --}}
                <img class="album-preview_small" src="{{!-- {{images.[2]}} --}}" alt="album-preview-small">
               {{!--  {{/if}}
                {{#if images.[3]}} --}}
                <img class="album-preview_small" src="{{!-- {{images.[3]}} --}}" alt="album-preview-small">
               {{!--  {{/if}}
                {{#if images.[4]}} --}}
                <img class="album-preview_small" src="{{!-- {{images.[4]}} --}}" alt="album-preview-small">
                {{!-- {{/if}}  --}}               
            </div>
            <h3>{{!-- {{location}} --}}</h3>
            <div>{{!-- {{description}} --}}</div>
            <div class="w-clearfix social_bar">
                <div class="trip_id" id="{{!-- {{id}} --}}"></div>
                <div class="w-clearfix social">
                  <div class="social_num">{{!-- {{num_likes}} --}}</div>
                  <a href="#" class="like-button">
                    <img class="social_buttons" src="images/icon_822.png" alt="like-button">
                  </a>
                </div>
                <div class="w-clearfix social">
                    <div class="social_num">{{!-- {{num_fav}} --}}</div>
                    <a href="#" class="fav-button">
                        <img class="social_buttons" src="images/star.png" alt="favorite-button">
                    </a>
                </div>
                <div class="w-clearfix social">
                    <div class="social_num">{{!-- {{comments.length}} --}}</div>
                    <img class="social_buttons" src="images/comment.png" alt="comments-button">
                </div>
            </div>
            <div class="w-clearfix comment_box">
                <img class="prof_pic-xsmall" src="images/blank-profile.jpg" alt="prof-pic">
                <div class="w-form comment_form">
                    <form name="email-form" data-name="Email Form">
                        <input class="w-input" type="text" placeholder="Write a comment..." name="comment" data-name="Comment"></input>
                    </form>
                    <div class="w-form-done">
                        <p>Thank you! Your submission has been received!</p>
                    </div>
                    <div class="w-form-fail">
                        <p>Oops! Something went wrong while submitting the form :(</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{!--     {{/each}}
 --}}</div>
