<div id="carousel_container">
	{{> carousel this}}
</div>

<div class="w-container">
    {{#each trips}}
    <div class="w-clearfix news-item" id="trip_{{this._id}}">
        <img class="prof_pic-small float-left" src="{{this.user.profile_image}}" alt="prof-pic">
        <div class="float-left">
            <h5 class="status"><strong>{{this.user.username}}</strong> added a new trip.</h5>
            <div class="w-clearfix pictures">
                <div class="row" style="max-height: 300px;">
                    <div class="col-md-5">
                        <img class="album-preview_large img-responsive" src="{{this.image_large}}" alt="album-preview_large">
                    </div>
                    <div class="col-md-7">
                        {{#if this.image_small.[0]}}
                            <img class="album-preview_small" src="{{this.image_small.[0]}}" alt="album-preview-small">
                        {{/if}}
                        {{#if this.image_small.[1]}}
                            <img class="album-preview_small" src="{{this.image_small.[1]}}" alt="album-preview-small">
                        {{/if}}
                        {{#if this.image_small.[2]}}
                            <img class="album-preview_small" src="{{this.image_small.[2]}}" alt="album-preview-small">
                        {{/if}}
                        {{#if this.image_small.[3]}}
                            <img class="album-preview_small" src="{{this.image_small.[3]}}" alt="album-preview-small">
                        {{/if}}
                    </div>
                </div>       
                
                              
            </div>
            <h3>{{this.location}}</h3>
            <div>{{this.description}}</div>
            <div class="w-clearfix social_bar">
                <div class="trip_id" id="trip_{{this._id}}"></div>
                <div class="w-clearfix social">
                    <img class="social_buttons like_icon" src="images/icon_822.png" alt="like-button" data-trip="{{this._id}}">
                    <div class="social_num like_counter">{{this.num_likes}}</div>
                </div>
                <div class="w-clearfix social">
                    <img class="social_buttons favorite_icon" src="images/star.png" alt="favorite-button">
                    <div class="social_num favorite_counter">{{this.num_favorites}}</div>
                </div>
                <div class="w-clearfix social">
                    <img class="social_buttons" src="images/comment.png" alt="comments-button">
                    <div class="social_num comment_counter">{{this.num_comments}}</div>
                </div>
            </div>
            <div class="w-clearfix comment_box">
                <img class="prof_pic-xsmall" src="images/blank-profile.jpg" alt="prof-pic">
                <div class="w-form comment_form">
                    <form name="email-form" data-name="Email Form">
                        <input class="w-input" type="text" placeholder="Write a comment..." name="comment" data-name="Comment"></input>
                    </form>
                    <div class="w-form-done">
                        <p>Thank you! Your submission has been received!</p>
                    </div>
                    <div class="w-form-fail">
                        <p>Oops! Something went wrong while submitting the form :(</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>

<script type="text/javascript">
$(document).ready(function() {
    function incrementLikes(tripID) {
        var num_likes = parseInt($('#trip_' + tripID + ' .like_counter').html(), 10);
        num_likes += 1;
        $('#trip_' + tripID + ' .like_counter').html(num_likes);
    }

    $('.like_icon').click(function() {
        var tripID = $(this).attr("data-trip");
        var data = {
            "tripID": tripID
        };
        var options = {
            type: "POST",
            url: "/like_trip",
            data: data
        };
        $.ajax(options)
        .done(function(data) {
            incrementLikes(data);
        })
        .fail(function(msg) {
            console.log(msg.responseText);
        });
    });
});
</script>