<div id="carousel_container">
	{{> carousel this}}
</div>

<div class="w-container">
  {{#each trips}}
  <div class="w-clearfix news-item">
    <img class="prof_pic-small float-left" src="images/blank-profile.jpg" alt="prof-pic">
    <div class="float-left">
      <h5 class="status"><strong>{{user}}</strong> added a new album.</h5>
      <div class="w-clearfix pictures">        
        <img class="album-preview_large" src="{{images.[0]}}" alt="album-preview_large">
        {{#if images.[1]}}
        <img class="album-preview_small" src="{{images.[1]}}" alt="album-preview-small">
        {{/if}}
        {{#if images.[2]}}
        <img class="album-preview_small" src="{{images.[2]}}" alt="album-preview-small">
        {{/if}}
        {{#if images.[3]}}
        <img class="album-preview_small" src="{{images.[3]}}" alt="album-preview-small">
        {{/if}}
        {{#if images.[4]}}
        <img class="album-preview_small" src="{{images.[4]}}" alt="album-preview-small">
        {{/if}}                
       {{!--  <img class="album-preview_small" src="images/lands_end.jpg" alt="52f49817bc0395d97100076a_lands_end.jpg">
        <img class="album-preview_small" src="images/painted_ladies.jpg" alt="52f47740bc0395d971000647_painted_ladies.jpg">
        <img class="album-preview_small" src="images/clarion_alley.jpg" alt="52f498a02b5f8139190008c0_clarion_alley.jpg"> --}}
      </div>
      <h3>{{location}}</h3>
      <div>{{description}}</div>
      <div class="w-clearfix social_bar">
        <div class="trip_id" id="{{id}}"</div>
        <div class="w-clearfix social">
          <div class="social_num">{{num_likes}}</div>
          <a href="#" class="like-button">
            <img class="social_buttons" src="images/icon_822.png" alt="like-button">
          </a>
        </div>
        <div class="w-clearfix social">
          <div class="social_num">{{num_fav}}</div>
          <a href="#" class="fav-button">
            <img class="social_buttons" src="images/star.png" alt="favorite-button">
          </a>
        </div>
        <div class="w-clearfix social">
          <div class="social_num">{{comments.length}}</div>
          <img class="social_buttons" src="images/comment.png" alt="comments-button">
        </div>
      </div>
      <div class="w-clearfix comment_box">
        <img class="prof_pic-xsmall" src="images/blank-profile.jpg" alt="prof-pic">
        <div class="w-form comment_form">
          <form name="email-form" data-name="Email Form">
            <input class="w-input" type="text" placeholder="Write a comment..." name="comment" data-name="Comment"></input>
          </form>
          <div class="w-form-done">
            <p>Thank you! Your submission has been received!</p>
          </div>
          <div class="w-form-fail">
            <p>Oops! Something went wrong while submitting the form :(</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
{{!--   <div class="w-clearfix news-item">
    <img class="prof_pic-small float-left" src="images/profpic_venice_square.jpeg" alt="52f360f6593f6edf41000a4c_profpic_venice_square.jpeg">
    <div class="float-left">
      <h5 class="status"><strong>Lucy Wang</strong> added a new album.</h5>
      <div class="w-clearfix pictures">
        <img class="album-preview_large" src="images/goldengate.jpg" alt="52f485c0a560b0da71000761_goldengate.jpg">
        <img class="album-preview_small" src="images/fishermans-wharf.jpg" alt="52f487282b5f8139190007d0_fishermans-wharf.jpg">
        <img class="album-preview_small" src="images/lands_end.jpg" alt="52f49817bc0395d97100076a_lands_end.jpg">
        <img class="album-preview_small" src="images/painted_ladies.jpg" alt="52f47740bc0395d971000647_painted_ladies.jpg">
        <img class="album-preview_small" src="images/clarion_alley.jpg" alt="52f498a02b5f8139190008c0_clarion_alley.jpg">
      </div>
      <h3>San Francisco</h3>
      <div>Loved my trip to the Bay!&nbsp;</div>
      <div class="w-clearfix social_bar">
        <div class="w-clearfix social">
          <div class="social_num">12</div>
          <img class="social_buttons" src="images/icon_822.png" alt="52f34cb6593f6edf4100093d_icon_822.png">
        </div>
        <div class="w-clearfix social">
          <div class="social_num">3</div>
          <img class="social_buttons" src="images/star.png" alt="52f34cbfba5496e1410009ac_star.png">
        </div>
        <div class="w-clearfix social">
          <div class="social_num">0</div>
          <img class="social_buttons" src="images/comment.png" alt="52f34cccba5496e1410009ad_comment.png">
        </div>
      </div>
      <div class="w-clearfix comment_box">
        <img class="prof_pic-xsmall" src="images/profpic_venice_square.jpeg" alt="52f360f6593f6edf41000a4c_profpic_venice_square.jpeg">
        <div class="w-form comment_form">
          <form name="email-form" data-name="Email Form">
            <input class="w-input" type="text" placeholder="Write a comment..." name="comment" data-name="Comment"></input>
          </form>
          <div class="w-form-done">
            <p>Thank you! Your submission has been received!</p>
          </div>
          <div class="w-form-fail">
            <p>Oops! Something went wrong while submitting the form :(</p>
          </div>
        </div>
      </div>
    </div>
  </div> --}}
</div>
