<a href="trip/{{id}}">
  <div class="w-clearfix search_result">
    <img class="result_img" src="{{image_large}}" alt="">
    <div class="float-left result_content">
      <h3>{{title}}</h3>
      <div>{{description}}</div>
      <div>{{user.username}}</div>
    </div>
    <div class="w-clearfix search_social">
      {{!-- <div class="float_bottom social_num"><strong>60</strong> users have been here</div> --}}
      <div class="social float-right no-borders-margins">
        <div class="social_num">{{likes.length}}</div>
        <img class="social_buttons" src="images/icon_822.png" alt="52f34cb6593f6edf4100093d_icon_822.png">
      </div>
    </div>
  </div>
</a>
