<div class="container" style="width: 600px; background: white">
	<h1>Edit User Account</h1>
	<form id="update_user_form" class="form-horizontal" enctype="multipart/form-data">
		<div id="name-cg" class="form-group">
			<label class="control-label col-sm-3">Name</label>
      <div class="col-sm-9">
        <input id="name-tf" class="form-control" name="name" type="text" value="{{user.name}}">
      </div>
		</div>
		<div id="email-cg" class="form-group">
			<label class="control-label col-sm-3">Email</label>
      <div class="col-sm-9">
        <input id="email-tf" class="form-control" name="email" type="text" value="{{user.email}}">
      </div>
		</div>
		<div id="country-cg" class="form-group">
      <label class="control-label col-sm-3">Location</label>
      <div class="col-sm-9">
        <select id="country-list" class="form-control" name="country" type="text">
          {{#each countries}}
            <option>{{name}}</option>
          {{/each}}
        </select>
      </div>
    </div>
    <div id="aboutme-cg" class="form-group">
      <label class="control-label col-sm-3">About Me</label>
      <div class="col-sm-9">
        <input id="aboutme-tf" class="form-control" name="aboutMe" type="text" value="{{user.aboutMe}}">
      </div>
    </div>
    <div id="username-cg" class="form-group">
			<label class="control-label col-sm-3">Username</label>
      <div class="col-sm-9">
        <input id="username-tf" class="form-control" name="username" type="text" value="{{user.username}}">
      </div>
		</div>
		<div id="password-cg" class="form-group">
			<label class="control-label col-sm-3">Password</label>
      <div class="col-sm-9">
        <input id="password-tf" class="form-control" name="password" type="password" placeholder="Leave blank to keep">
      </div>
		</div>
		<div id="profile-image-cg" class="form-group">
			<label class="control-label col-sm-3">Profile Picture (leave blank to keep existing)</label>
      <div class="col-sm-9">
        <input id="profile-image-field" class="form-control" name="profile_image" type="file">
      </div>
		</div>
		<div class="form-group">
      <div class="col-sm-offset-9 col-sm-2">
        <button type="submit" class="btn btn-primary">Update Account</button>
      </div>
    </div>
	</form>
</div>

<script type="text/javascript">
$(document).ready(function(){
	$('#country-list').val("{{user.country}}");

	$('#update_user_form').ajaxForm({
		url: '/user',
		type: 'post',
		success	: function(responseText, status, xhr, $form){
			if (status == 'success') {
				console.log("success");
				window.location.href = "{{user._id}}";
			}
		},
		error : function(e){
			console.log(e.responseText);
		}
	});

	$('#name-tf').focus();
});
</script>