{{#if user}}
<div class="w-container">
  <div class="margin-10">
      <div class="w-clearfix prof_box">
        <img class="prof_pic" src="{{user.profile_image}}" width="140" height="140" alt="prof-pic">
        <div class="prof_info">
          <h2>{{user.name}}</h2>
          <p class="about_me">Add your "About Me".</p>
          <div class="social_bar">
            <img class="social_buttons" src="/images/icon_1832.png" alt="52f38673ba5496e141000d86_icon_1832.png">
            <div class="location">{{user.country}}&nbsp;&nbsp;</div>
            <img class="social_buttons" src="/images/facebook.png" alt="52f38687593f6edf41000d09_facebook.png">
            <img class="social_buttons" src="/images/twitter.png" alt="52f386ca5d8eed2b6b000e09_twitter.png">
          </div>
        </div>
        <div class="prof_stats"><a class="button" href="#">Follow</a><a class="button" href="#">{{user.followers.length}} Followers</a><a class="button" href="#">{{user.following.length}} Following</a><a class="button" href="#">{{trips.totalTrips}} Trips</a>
        </div>
      </div>
    </div>
</div>  

<div class="w-row trip_pane">
  <div class="w-col w-col-3 w-clearfix column">
  {{#each trips.col0}}
    <div class="trip">
      <img class="trip_cover_photo" src="{{image_large}}" alt="trip-cover-photo">
      <div class="trip_box_info">
        <h3>{{title}}</h3>
        <h5>{{date}}</h5>
        <h6>{{totalImages}} photos</h6>
        <div class="social_bar">
          <div class="social">
            <div class="social_num">{{likes.length}}</div>
            <img class="social_buttons" class="like-button" src="/images/icon_822.png" alt="like-button">
          </div>
          <div class="social">
            <div class="social_num">{{favorites.length}}</div>
            <img class="social_buttons" class="fav-button" src="/images/star.png" width="25" alt="favorite-button">
          </div>
          <div class="social">
            <div class="social_num">{{comments.length}}</div>
            <img class="social_buttons" src="/images/comment.png" alt="comments-button">
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>

  <div class="w-col w-col-3 column">
  {{#each trips.col1}}
    <div class="trip">
      <img class="trip_cover_photo" src="{{image_large}}" alt="trip-cover-photo">
      <div class="trip_box_info">
        <h3>{{title}}</h3>
        <h5>{{date}}</h5>
        <h6>{{totalImages}} photos</h6>
        <div class="social_bar">
          <div class="social">
            <div class="social_num">{{likes.length}}</div>
            <img class="social_buttons" class="like-button" src="/images/icon_822.png" alt="like-button">
          </div>
          <div class="social">
            <div class="social_num">{{favorites.length}}</div>
            <img class="social_buttons" class="fav-button" src="/images/star.png" width="25" alt="favorite-button">
          </div>
          <div class="social">
            <div class="social_num">{{comments.length}}</div>
            <img class="social_buttons" src="/images/comment.png" alt="comments-button">
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>

  <div class="w-col w-col-3 column">
  {{#each trips.col2}}
    <div class="trip">
      <img class="trip_cover_photo" src="{{image_large}}" alt="trip-cover-photo">
      <div class="trip_box_info">
        <h3>{{title}}</h3>
        <h5>{{date}}</h5>
        <h6>{{totalImages}} photos</h6>
        <div class="social_bar">
          <div class="social">
            <div class="social_num">{{likes.length}}</div>
            <img class="social_buttons" class="like-button" src="/images/icon_822.png" alt="like-button">
          </div>
          <div class="social">
            <div class="social_num">{{favorites.length}}</div>
            <img class="social_buttons" class="fav-button" src="/images/star.png" width="25" alt="favorite-button">
          </div>
          <div class="social">
            <div class="social_num">{{comments.length}}</div>
            <img class="social_buttons" src="/images/comment.png" alt="comments-button">
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>

  <div class="w-col w-col-3 column">
  {{#each trips.col3}}
    <div class="trip">
      <img class="trip_cover_photo" src="{{image_large}}" alt="trip-cover-photo">
      <div class="trip_box_info">
        <h3>{{title}}</h3>
        <h5>{{date}}</h5>
        <h6>{{totalImages}} photos</h6>
        <div class="social_bar">
          <div class="social">
            <div class="social_num">{{likes.length}}</div>
            <img class="social_buttons" class="like-button" src="/images/icon_822.png" alt="like-button">
          </div>
          <div class="social">
            <div class="social_num">{{favorites.length}}</div>
            <img class="social_buttons" class="fav-button" src="/images/star.png" width="25" alt="favorite-button">
          </div>
          <div class="social">
            <div class="social_num">{{comments.length}}</div>
            <img class="social_buttons" src="/images/comment.png" alt="comments-button">
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>

{{else}}
<div><p>You must be logged in to see your trips.</p></div>
{{/if}}
